body{
    overflow-x: hidden;
    

}



/* .horizontal{
    width:100%;
    color:grey;
    background-color: grey;
    opacity: calc(0.5);
} */


.btnd{
    background-image: url("images/team.png");
    width: 1440px;
    height:650px;
    background-repeat: no-repeat;
    /* filter: brightness(50%); */
}

.btnx{
    width: 1440px;
    height:690px;
}

